@media screen and (min-width: 1000px) {
    a {
        text-decoration: none;
    }

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(232, 240, 255);
    }

    a:focus {
        color: rgb(35, 212, 189);
    }

    li:hover {
        background-color: rgb(35, 212, 189);
    }

    h2 {
        text-align: right;
        background-color: rgba(153, 203, 250, 0.363);
        margin-left: 60%;
        padding: 0.4rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    body {
        background-color:lightblue;
        background-image: url("images/background2.jpg");
        background-size: 100%;
        background-repeat: repeat-y;
        width: 100%;
        margin: 0px;
    }

    header {
        color: white;
        font-family: sans-serif;
        font-size: 28px;
        color: #fff;
        margin-top: 0px;
    }

    nav {
        background-color: rgba(105, 42, 42, 0.39);
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%;
        height: 3em;
        padding-top: 3px;
    }

    nav li {
        display: inline;
    }

    #nav-left {
        float: left;
        width: 20%;
        background-color: rgba(153, 203, 250, 0.363);
        color: white;
    }

    #nav-right {
        float: right;
        width: 20%;
        background-color: rgba(153, 203, 250, 0.363);
        color: white;
    }

    main {
        color: #fff;
        text-align: center;
        width: 100%;
        min-height: 600px;
    }

    footer {
        height: 60px;
        /* footer的高度一定要是固定值*/
        text-align: center;
        margin: auto auto 0px auto;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.466);
        color: white;
    }

    img.hj:hover {
        transform: rotate(720deg);
        transition: linear;
        transition-duration: 1s;
    }

    #wrapper {
        margin-bottom: 100px;
    }

    #wrapper::after {
        content: ' ';
        display: block;
        clear: both;
        visibility: hidden;
        height: 0px;
    }

    input {
        width: 12em;
        height: 2em;
        padding-left: 1em;
        background-color: #fefefe;
        border-radius: 15px;
        border-style: none;
    }

    input:hover, button:hover {
        box-shadow: 0 0 10px 5px #fff;
    }

    input:focus {
        border-radius: 15px;
        background-color: #fff;
        transform: scale(1.2);
        transition-duration: 300ms;
    }

    button {
        text-align: center;
        padding: auto 1em;
        color: #fff;
        border-style: none;
        height: 2.5em;
        width: 6em;
        border-radius: 10px;
        background-color: rgb(0, 120, 233);
        margin-left: 1.5em;
    }

    aside {
        box-shadow: 0px 0px 30px 1px black;
    }

    aside>ul>a>li {
        padding: 1rem 0 1rem 2rem;
        font-size: 32px;
    }

    #haha {
        transition-duration: 500ms;
        margin-left: 50%;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50px;
        position: relative;
        right: 50px;
        filter: grayscale();
    }

    #haha img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #haha:hover {
        padding-top: 3em;
        text-align: center;
        width: 100px;
        height: 200px;
        border-radius: 50px;
        filter: none;
    }
}

@media screen and (max-width: 999px) {
    body {
        font-size:18px;
        color:white;
     background-color:lightblue;

        background-image: url('images/background2.jpg');
        background-repeat: repeat-y;
        background-size:contain;
    }

    a {
        color: white;
        text-decoration: initial;
    }
nav {
   
    border-style:solid;
    box-shadow:0,0,4px,2px,gray;
    background-color:#3838327a;
    text-align:center;
}
nav ul {
    display:inline-block;
    padding-left:initial;
    
}
    nav * {
        display: inline-block;
    }

    input {
        width: 12em;
        height: 2em;
        padding-left: 1em;
        background-color: #fefefe;
        border-radius: 15px;
        border-style: none;
    }

    input:hover, button:hover {
        box-shadow: 0 0 10px 5px #fff;
    }

    input:focus {
        border-radius: 15px;
        background-color: #fff;
        transform: scale(1.2);
        transition-duration: 300ms;
    }

    button {
        text-align: center;
        padding: auto 1em;
        color: #fff;
        border-style: none;
        height: 2.5em;
        width: 6em;
        border-radius: 10px;
        background-color: rgb(0, 120, 233);
        margin-left: 1.5em;
    }

    footer {
        height: 60px;
        /* footer的高度一定要是固定值*/
        text-align: center;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.466);
        color: white;
    }

    img {
        width: 100%;
    }

    #haha {
        transition-duration: 500ms;
        margin-left: 50%;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50px;
        position: relative;
        right: 50px;
        filter: grayscale();
    }

    #haha img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #haha:hover {
        padding-top: 3em;
        text-align: center;
        width: 100px;
        height: 200px;
        border-radius: 50px;
        filter: none;
    }

#nav-left,#nav-right {
    box-shadow:0 0 16px 1px black;
    border-radius:1rem;
    padding:16px;
    background-color:#00000073;
    margin:3rem auto;
}
#nav-left li,#nav-right li {
    font-size:25px;
    margin:15px;

}
li:hover {
        color: white;
        background-color: rgb(35, 212, 189);
    }
a:visited {
    color: rgb(35, 212, 189);
     }
h1 {
    text-align:center;
}

h2 {
    border-style:solid;
    border-radius:1rem;
    text-align:center;
   
    padding:5px;

}
#rec {
    text-align:center;
}
.hj {
    visibility: hidden;
    width:0px;
    height:0px;
}

}
